<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cargas.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/99035ba4e5.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <title>ABM Productos</title>
</head>

<body>
    <!-- MENU -->
    <!-- header -->
    <%- include('../views/partials/header') %>

    <!-- FORMULARIO DE CARGA -->
    <main class="main-carga">
        <form class="form-carga" action="/producto/editar/<%=product.id %>?_method=PUT"  enctype="multipart/form-data" method="POST">

            <div class="bolsillo-izq">

                <div class="div-nom_producto">
                    <label for="nombre-producto">Nombre del Producto</label>
                    <input type="text" name="nombreProducto" class="nombreProducto" value=" <%= product.nombre%>">
                </div>
                <div>
                    <span class="errorNombre visible"
                    >¡El nombre no debe estar vacío!
                  </span>
                  <span class="errorNombreLongitud visible"
                    >El nombre debe contener al menos 5 caracteres.
                  </span>
                </div> 
                <div>Detalle</div>
                <div>
                    <textarea class= "detalleProducto" name="detalleProducto" rows="5" cols="30" "><%= product.descripcion %> </textarea>
                </div>
                <div>
                    <span class="errorDetalleLongitud visible"
                    >El detalle debe contener al menos 20 caracteres.
                  </span>
                </div> 
               
                <div>
                    <div>Talles</div>
                    
                        <% for(let i=0; i<5;i++){ %>

                        <select name="talles">
                            <option disabled selected>Talle</option>
                            <% talles.forEach(talle =>{ %>

                            <option value="<%= talle.id %>" > <%= talle.nombre %> </option>
                            <%  }) %>

                        </select>
                        <% } %>

                    </div>
                  
                
                <div class="div-precio">
                    <label for="">Precio $ </label>
                        <label for="precio">
                            <input type="text" name="precio" value="<%= product.precio %> "></label>

                        </label>
                    
                    
                </div>
                <div class="div-cantidad">
                    <label for="">Cantidad</label>
                    <label for="cantidad">
                        <input type="text" name="cantidad" value= "<%= product.cantidad %> ">
                    </label>
                </div>
            </div> <!--cierre de bolsillo izquierdo -->
            
            <div class="bolsillo-der">
            
            
                <div class="div-colores">
                    <div>Colores</div>
                    <% for(let i=0; i<5;i++){ %>

                    <select name="colores">
                        <option disabled selected>Color</option>
                        <% colores.forEach(color =>{%>
                            
                            <option value="<%= color.id %>"> <%= color.nombre %> </option>
                            <%  }) %>

                    </select>
                    <% } %>
                    
                </div>
            <div>
                <div>Genero</div>

                <input type="radio" name="genero" id="mujer" value="1">
                <label for="mujer">Mujer</label>
                
                <input type="radio" name="genero" id="niñas" value="2">
                <label for="niñas">Niñas </label>
                
                <input type="radio" name="genero" id="niños" value="3" >
                <label for="niños">Niños</label>
            </div>
            <div>
                <div>Temporada</div>
                
                <input type="radio" name="temporada" id="verano"  value="1">
                <label for="verano">Verano</label>
                
                <input type="radio" name="temporada" id="invierno"  value="2">
                <label for="invierno">Invierno</label>
            </div>
            <div>
                
                <div>
                    Imagen Principal
                </div>
                <input class= "imgPrincipal" type="file" name="imgPrincipal">
            </div>
            <div>
                <span class="errorImagen visible"
                >¡Debes seleccionar una imagen!
              </span> 
            </div>
            
                <button class="btn" type="submit">Editar</button>
                
           
            </div>
        </div><!--bolsillo derecho  -->


        </form>
    </main>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".menu-cel").click(function () {
          $(".menu-cel").toggleClass("active");
          $("nav").toggleClass("active");
        });
      });
    </script>
    <script src = "/js/validacionesCarga.js"></script>
</body>
</html>