<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/listadoProducto.css" />
  <!-- link para el control del carusel -->
  <link rel="stylesheet" type="text/css" href="/css/lightslider.css" />

  <!-- Jquery -->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/lightslider.js"></script>
  <!--  -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/99035ba4e5.js" crossorigin="anonymous"></script>

  <title>Listado de Productos</title>
</head>

<body>
  <!-- header -->
  <%- include('../views/partials/header') %>

  <main class="main-listado">

    <section class="seccion-header">
      <!-- titulo -->
      <div class="titulo-header">
        <h1>Listado de Productos</h1>
      </div>
    </section>
    <aside class="aside-filtar">
      <!-- filtros -->
      <h2>Filtrar</h2>

      <div class="filtrado-producto">
        <ul>
          <li class="li-titulos">Genereo</li>
          <ul>
            <li class="li-items"><a href=""> Mujeres </a></li>
            <li class="li-items"><a href=""> Niñas </a> </li>
            <li class="li-items"><a href=""> Niños</a> </li>
          </ul>
          <li class="li-titulos">Temporada</li>
          <ul>
            <li class="li-items"><a href=""> Invierno</a> </li>
            <li class="li-items"><a href=""> verano</a> </li>
          </ul>
          <li class="li-titulos">Talle</li>
          <ul>
            <li class="li-items"><a href=""> 1</a></li>
            <li class="li-items"><a href=""> 2</a></li>
            <li class="li-items"><a href=""> 3</a></li>
            <li class="li-items"><a href=""> 4</a></li>
            <li class="li-items"><a href=""> 5</a></li>
          </ul>
          <li class="li-titulos">Rubro</li>
          <ul>
            <li class="li-items"><a href=""> Remeras</a> </li>
            <li class="li-items"><a href=""> Short</a> </li>
            <li class="li-items"><a href=""> Calza</a> </li>
            <li class="li-items"><a href=""> Pantalon</a> </li>
            <li class="li-items"><a href=""> Pollera</a> </li>
            <li class="li-items"><a href=""> Vestidos</a> </li>
            <li class="li-items"><a href=""> Jogging</a> </li>
            <li class="li-items"><a href=""> Buzos</a> </li>
            <li class="li-items"><a href=""> Ropa Interior</a> </li>
            <li class="li-items"><a href=""> Accesorios</a> </li>
          </ul>
        </ul>


      </div>
    </aside>
    <article class="article-productos">
      <div class='productos'>

        <% products.forEach(product => { %>
        <div class="box">
          <!-- box-producto -->
          <div class="slide-img">
            <% product.imagenes.forEach(imagen => { %>
            <img src="../img/img/<%= imagen.nombre%>" alt="imagen de <%= product.nombre %>"/>
            <% }) %> 
            <!-- capa -->
            <div class="capa">
              <!-- btn comprar -->
              <a href="/producto/<%= product.id%>" class="btn-comprar">Comprar</a>
            </div>
          </div>
          <!-- detalle-producto -->
          <div class="detalle-producto">
            <div class="type">
              <a href="/producto/<%= product.id%>"><%= product.nombre %></a>
             <!-- <span>New Arrival</span> -->
            </div>
            <a href="/producto/<%= product.id%>" class="price">$<%= product.precio %></a>
          </div>
        </div>
        <% }) %>



    </article>

  </main>

  <!-- FOOTER -->
  <%- include ('../views/partials/footer') %>

  <!-- script del carusel -->
  <script type="text/javascript" src="../js/script.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>

  <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".menu-cel").click(function () {
        $(".menu-cel").toggleClass("active");
        $("nav").toggleClass("active");
      });
    });
  </script>

</body>

</html>