<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/registro.css" />
    <link rel="shortcut icon" href="../img/img/icono-web.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/99035ba4e5.js"
      crossorigin="anonymous"
    ></script>
    <title>El Buscador - Ropa y accesorios</title>
  </head>
  <body>
    <div class="container-body">
      <!-- header -->
      <%- include('../views/partials/header') %>

      <main>
        <div class="titulo">
          <H2>INGRESÁ A TU CUENTA</H2>
        </div>

        <form class='formulario' action="/users/login" method="POST">
          <div class="usuario">
            <div class="email">
              <div>
                <label for="email">Email</label>
              </div>
              <div>
                <input
                  class="email"
                  type="email"
                  name="email"
                  placeholder=""
                  value="<%= locals.oldData ? oldData.email : null %>"
                />
                <% if (locals.errors && errors.email) { %>
                <div class="text-danger"><%= errors.email.msg %></div>
                <% } %>
                <span class="errorEmail visible">Debe ingresar un email. </span>
                <span class="errorEmailValido visible"
                  >Debe ingresar en un email válido.
                </span>
              </div>
            </div>
          </div>
          <div class="Contraseña">
            <div>
              <label for="password">Contraseña</label>
            </div>
            <div>
              <input
                class="password"
                type="password"
                name="password"
                placeholder=""
              />
              <% if (locals.errors && errors.password) { %>
              <div class="text-danger"><%= errors.password.msg %></div>
              <% } %>
              <span class="errorPass visible"
                >Debe ingresar en un contraseña válida.
              </span>
              <span class="errorPassValido visible"
                >La contraseña debe contener al menos 8 caracteres, mayúscula y un caracter especial.
              </span>
            </div>
          </div>
          <div class="form-group">
              <input type="checkbox" name="remember_user" class="checkmark"/>
              <label>Recordar mi usuario</label>
          </div>
          <div>
            <div class="guardar">
              <button type="submit">Iniciá sesión</button>
            </div>
            <div class="face">
              <input type="button" value="Iniciá sesión con Facebook" />
            </div>
          </div>
        </form>
      </main>
      <!-- FOOTER -->
      <%- include ('../views/partials/footer') %>
      <!-- instalcion de jquery -->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/js/validacionesLogin.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
      ></script>
      <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
      <script type="text/javascript">
        $(document).ready(function () {
          $(".menu-cel").click(function () {
            $(".menu-cel").toggleClass("active");
            $("nav").toggleClass("active");
          });
        });
      </script>
    </div>
  </body>
</html>
