<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="shortcut icon" href="../img/img/icono-web.png" />
    <!-- link para el control del carusel -->
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css" />

    <!-- Jquery -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/lightslider.js"></script>
    <!--  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/99035ba4e5.js"
      crossorigin="anonymous"
    ></script>

    <title>Producto</title>
  </head>
  <body>
    <!-- header -->
    <%- include('../views/partials/header') %>

    <main>
      <h2>Detalle del Producto</h2>
      <section class="producto">
        <!-- <article> -->
        <figure>
          <div class="img-principal">
            <% product.imagenes.forEach(imagen => { %>
            <img
              src="../img/img/<%= imagen.nombre %> "
              alt="imigen principal"
            />
            <% }) %>
          </div>
          <!-- estas imagenes se ven recien en modo table en adelante  -->
          <!-- <div class="img-secundarias">
            <img
              src="../img/img/<%= product.imgPrincipal %>"
              alt="img secundaria"
              class="img-sec-1"
            />
            <img src="../img/img/<%= product.imgPrincipal%>"" alt="img
            secundaria" class="img-sec-2" />
            <img
              src="../img/img/<%= product.imgPrincipal %>"
              alt="img secundaria"
              class="img-sec-3"
            />
            <img
              src="../img/img/<%= product.imgPrincipal%>"
              alt="img secundaria"
              class="img-sec-4"
            />
          </div> -->
        </figure>
        <div class="footer-producto-principal">
          <p><%= product.nombre %></p>
          <p>$ <%= product.precio %></p>
          <form action="" method="POST" class="form-color">
            <label for="">Color :</label>

            <% product.colores.forEach(color => { %>

            <div
              style="
                background-color: <%=color.nombre%>;
                width: 35px;
                display: inline-block;
              "
            >
              <label for="<%= color.nombre %> ">
                <input type="radio" name="colores" />
              </label>
            </div>
            <%});%>
          </form>
          <form action="" class="form-talle">
            <label for="">Talles</label>
            <div>
              <% product.talles.forEach(talle => { %>

              <label for="talles"><%= talle.nombre %> </label>
              <input type="radio" name="talles" /> / <%});%>
            </div>
          </form>
          <!-- </article> -->
          <div class="btn btn-cliente">
            <button type="submit">Añadir al carrito</button>
            <button type="submit">Comparar ahora</button>
          </div>

          <%if( locals.isAdmin){ %>
          <div class="btn btn-admin">
            <button type="submit">
              <a href="./editar/<%=product.id %>">Editar</a>
            </button>

            <form
              action="./borrar/<%=product.id %>?_method=DELETE  "
              method="POST"
            >
              <button class="btn" type="submit">Borrar</button>
            </form>
          </div>
          <%} %>

          <article class="descripcion-producto">
            <p><%= product.descripcion%></p>
          </article>
        </div>
      </section>

      <section class="corte">
        <div>
          <h2>SUMMER 2022</h2>
        </div>
      </section>

      <h2>Productos Relacionados con <%= product.genero %></h2>
      <section class="carusel">
        <!-- codigo extraido de http://sachinchoolur.github.io/lightslider/examples.html -->
      </section>

      <!-- <section class="corte">
        <div>
          <h2>SUMMER 2022</h2>
        </div>
      </section> -->
      <!-- <section class='secciones'>
            <div class="seccion mujer">
                <a href=""></a>
            </div>
            <div class="seccion niño">
                <a href=""></a>
            </div>
            <div class="seccion niña">
                <a href=""></a>    
            </div>
            <div class="seccion accesorios">
                <a href=""></a>
            </div>
           
        </section> -->
      <!-- <div class="ola" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-11.57,-10.36 C145.87,168.25 284.71,-70.55 404.34,40.95 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #282828"
          ></path>
        </svg>
      </div> -->
    </main>
    <!-- FOOTER -->
    <%- include ("../views/partials/footer.ejs") %>
    <!-- script del carusel -->

    <script type="text/javascript" src="../js/script.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".menu-cel").click(function () {
          $(".menu-cel").toggleClass("active");
          $("nav").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
